.hero-img {
    position: absolute;
    right: 0;
    z-index: 0;
    height: calc(100% + 100px);
    filter: blur(30px);
    margin: -50px;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
}
.main-content {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}